Package: com.yourname.ytliteplus
Name: YTLitePlus
Version: X.X.X-X.X
Architecture: iphoneos-arm
Description: Tweak for YouTube
Maintainer: Your Name <your.email@example.com>
Depends: mobilesubstrate (>= 0.9.5000), firmware (>= 14.0)
Section: Tweaks